/* .s1 {
  background: url(/src/picture/pic12.jpg);
  height: 30vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
} */
